.DS_Store
*.xcodeproj/**
!*.xcodeproj/*.pbxproj
!*.xcodeproj/xcshareddata

*.xcworkspace/**
!*.xcworkspace/*.xcworkspacedata

Pods
.idea

Modules/*/*.xcodeproj/**
!Modules/*/*.xcodeproj/*.pbxproj

build/*
build.output/*
pkg/*

cpd-output.*
DerivedData
build.output
/report.html

.rvmrc